.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.25s ease-out;
	-moz-transition: -moz-transform 0.25s ease-out;
	-o-transition: -o-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	}
